.container{
    max-width: 1180px;
}

header{
    background-color: #5e068a;
    height: 38px;
    padding: 6px 0px;
    color: white;
}

header a{
    text-decoration: none;
    color: white;
    padding-left: 10px;
    font-size: 12px
}

.nav-item{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}

header p{
    font-size: 12px
}

header a:hover{
    letter-spacing: .2px;
    color: white;
    transition: .5s;
}

.carousel-item img{
    height: 500px;
    filter: brightness(50%);
}

.carousel-item{
    position: relative;
}

.carousel-caption{
    position: absolute;
    top: 20px;
    text-align: left;
    margin-left: 150px;
    padding-top: 60px;
}

.carousel-caption h1{
    font-size: 60px;
    font-weight: bold;
    font-family: 'Muli' !important;
}

.carousel-caption p{
    width: 650px;
    padding: 20px 0;
    font-family: 'Muli' !important;
}

.slider-btn a{
    background-color: #5e068a;
    margin-top: 30px;
    padding: 20px 40px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 50px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.slider-btn a:hover{
    transition: .8s;
    background-color: #9e6ab9;
}

/* about area */
.mt-95{
    margin-top: 95px;
}

.about-container p,h3,h4{
    line-height: 30px;
    font-family: 'Muli' !important;
}

.about-container p{
    margin-bottom: 5rem;
    max-width: 565px;
}

.about-container h3{
    padding-top: 25px;
}

.button-default{
    background-color: #5e068a;
    margin-top: 30px;
    padding: 20px 40px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 50px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-family: inherit;
}

.button-default:hover{
    background-color: white;
    color: #5e068a;
    outline: #5e068a solid 3px;
    transition: .3s;
}